:host {
    display: block;
    width: 400px;
    height: 200px;
    margin: 14px;
    border: 10px solid teal;
}
h3, h4 {
    margin: 0;
    padding: 0;
}

ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}